<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>Discord-Tanki RPC by GeopJr</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="<%= css %>">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        .toastbad {
                background-color: #df382b;
            }
    
            .toastgood {
                background-color: #34a853;
            }
    
        body {
          background-image: url('https://i.imgur.com/Pwr8RWR.jpg');
          display: flex;
          min-height: 100vh;
          flex-direction: column;
        }
    
        main {
          flex: 1 0 auto;
        }
    </style>
</head>

<body>
    <main class="valign-wrapper" style="width:100%;height:100%;position: absolute;">
        <div class="valign" style="width:100%;">
            <div class="container">
                <div class="row" style="margin-right: 0;">
                    <div class="col s12">
                        <div class="card" style="background-color: rgba(0,0,0,0.5);">
                            <div class="card-content white-text center">
                                <span class="card-title center" style="font-size: 4rem;">Discord-Tanki</span>
                                <span class="card-title center" style="margin-bottom: 2rem;">By GeopJr</span>
                                <a href="http://localhost:5000/setup" class="waves-effect waves-light btn-large red" style="margin-right:5px" target="_blank"><i class="material-icons" style="vertical-align: -6px;">settings</i> Setup</a>
                                <a href="http://localhost:5000/rpc" class="waves-effect waves-light btn-large orange" style="color:#000;margin-right:5px"><i class="material-icons"
                    style="vertical-align: -6px;">directions_run</i> Run</a>
                                <a onclick="openInBrowser('https://geopjr.xyz/')" class="waves-effect waves-light btn-large yellow" style="color:#000" target="_blank"><i class="material-icons"
                    style="vertical-align: -6px;">account_circle</i> Creator</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large deep-orange modal-trigger" href="#modal">
                <i class="large material-icons">help</i>
            </a>
        </div>
    </main>
    <footer class="page-footer center" style="background-color: rgba(0,0,0,0.5);position:fixed;width:100%;padding-top: 0px;">
        <div class="container center">
            Invite my Discord bots! <a style="color:#ffff00; cursor: pointer;" onclick="openInBrowser('https://top.gg/bot/521054896884154368')">Soft&Wet</a> and <a style="color:#0086ff; cursor: pointer;" onclick="openInBrowser('https://top.gg/bot/443053627419000833')">Granz</a>!
        </div>
    </footer>
    <div style="color:#fff">
        <%= version %>
    </div>
    <div id="modal" class="modal" style="background-color: rgba(0,0,0,0.8);color:#fff;">
        <div class="modal-content center">
            <h4>How to use:</h4>
            <p>Click Setup<br>Add the required info<br>Close the setup window<br>Click Run<br>Minimize it!</p>
        </div>
    </div>
    <div class="background"></div>
    <script>
        window.$ = window.jQuery = require('jquery');
    </script>
    <script type="text/javascript" src="<%= js %>"></script>
    <script>
        M.toast({html: "Checking for updates...", displayLength: 5000});
        $.get( "http://localhost:5000/check", function( data ) {
          M.Toast.dismissAll();
          M.toast({html: data.length > 0? `<a onclick='openInBrowser("${data}")' style='cursor: pointer;color:#fff;text-decoration: underline;'>Theres an available update</a>` : "You are using the latest version!", classes: `toast${data.length > 0? "bad" : "good"}`, displayLength: 15000});
        });
        document.addEventListener('DOMContentLoaded', function () {
          const elems = document.querySelectorAll('.modal');
          const instances = M.Modal.init(elems);
        });
        function openInBrowser(url) {
          const shell = require('electron').shell;
          event.preventDefault();
          shell.openExternal(url);
        }
    </script>
</body>

</html>