<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
  <title>Discord-Tanki RPC by GeopJr</title>
  <link href="https://modesta.alexflipnote.xyz/css/modesta.min.css" type="text/css" rel="stylesheet">
  <script type="text/javascript" src="https://rawcdn.githack.com/AlexFlipnote/ModestaCSS/7e39f3d28ba273010adfa51fd1c124f44a2795b2/js/modal.js"></script>
  <style>
    body {
      background-image: url('https://i.imgur.com/Pwr8RWR.jpg')
    }
  </style>
</head>

<body>
  <div class="background"></div>
  <section class="fullscreen">
    <div class="center-object">
      <section class="me">
        <h1 class="title">Discord-Tanki</h1>
        <span class="undertitle">By GeopJr</span>
      </section>
      <div class="buttons">
        <a id="trigger" class="btn hover-scale amethyst" target="_blank">How-To</a>
        <a href="<%= setup %>" class="btn hover-scale pomegranate" target="_blank">Setup</a>
        <a href="http://localhost:5000/rpc" onclick="alert('Running')" class="btn hover-scale discord">Run</a>
        <a onclick="myFunction()" class="btn hover-scale carrot" target="_blank">Creator</a>
        <div id="modal" class="modal modal--close">
          <div class="modal-content">
            <span class="close">&times;</span>
            <p>Click Setup<br>Add the required info<br>Close the setup window<br>Click Run</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
    function myFunction() {
      var shell = require('electron').shell;
      event.preventDefault();
      shell.openExternal('https://geopjr.xyz/');
    }
  </script>
</body>

</html>